{% extends 'base.html.twig' %}

{% block title %}New StockManagement{% endblock %}

{% block body %}
    <h3>Create new StockManagement</h3>

    {{ include('stock_management/_form.html.twig') }}

    
{% endblock %}
